[Portofolio Number 1]
# ABB
DE000CJ5JMS3 = {"Quantity":110,   "Price_Buy_Pos":516.7,    "Notiz":"      SL:3.23 H:3,97"}
DE000CJ5JMS3 = {"Quantity":115,   "Price_Buy_Pos":514.25,   "Notiz":"      SL:3.23 H:3,97"}

# Daimler
DE000CJ7HY40 = {"Quantity":325,   "Price_Buy_Pos":514.5,    "Notiz":"+1.55/-1.35 SL:0,98 H:3,57"}
# DE000CJ7HY40 = {"Quantity":330,   "Price_Buy_Pos":518.5,  "Notiz":"-1.35 SL:0,98 H:3,57"}
## DE000CJ7HY40 = {"Quantity":435,   "Price_Buy_Pos":502,   "Notiz":"      SL:0,98 H:3,57"}

# Deutsche Bank
DE000DDN8UA6 = {"Quantity":830,   "Price_Buy_Pos":868.9,    "Notiz":"--->  SL:1,08 26.4"}

[Portofolio Number 2]
BE0974293251 = {"Quantity":160,   "Price_Buy_Pos":10368.1}
DE0005408116 = {"Quantity":350,   "Price_Buy_Pos":10139.0}
US5949181045 = {"Quantity":90,    "Price_Buy_Pos":5527.31}

[Cash]
Customer 1.Postbank    = {"Cash":12762.91}
Customer 1.comdirect   = {"Cash":5339.57}
Customer 2.comdirect   = {"Cash":4056.06}
