[Prg]
Name             = PORTOFOLIO
# Looptime       = 5
Testmode         = 0
LockFile         = ~/.portofolio/PORTOFOLIO.pid
# VarFile          = ~/.portofolio/PORTOFOLIO.var
PosAufsummieren  = 1
Gesamtliste      = Summe
BasisCurrency    = EUR

[Debug]
Level            = 2
Events           = DISML
# File          =
File          = |1
# File          = ~/Work/PORTOFOLIO/$JAHR$$MONAT$$TAG$.$PID$.dbg|1

[Color]
clear            = clear
reset            = white on_ansi0

normal           = on_ansi0
invers           = on_grey5

pp               = bright_green
p                = bright_cyan
neutral          = bright_white
m                = bright_magenta
mm               = bright_red

[Eingabedatei]
Portofolios      = depots.ini
Watchlists       = watchlists.ini

[Ausgabedatei]
Summe            = ~/.portofolio/$Depot$.txt
Depot            = ~/.portofolio/$Depot$.txt
Export           = ~/Work/PORTOFOLIO/$Depot$.csv
Cash             = ~/Work/PORTOFOLIO/Cash.csv

  # Konsolensteuerung (Farbe):

  # Zur Steuerung koennen alle unter [Color] definierten Werte verwendet werden
  # (normal, invers, clear, pp, p, neutral, n, mm)
  # Zusaetzlich koennen Shortcuts verwendet werden:
  
  # C - clear  : Clearscreen

  # Back- and Foreground
  # R - reset  : Ruecksetzen der Fordergrund- und Hintergrundfarbe

  # Background
  # N - normal : Normaler Hintergrund
  # I - invers : Invertierter den Hintergrund
  # B          : Aktueller Background, normal oder invers

  # Foreground anhaengig von dem auszugebenden Wert pp, p, neutral, m oder mm
  # W : Aenderung seit Kauf
  # D : Tagesaenderung
  # P : Portion am Gesamtvermoegen
  # Y : Dividende
  # L : Letzter Kurs veraltet
[Ausgabeformat_Summe]
Head = $W$Summe  $D$$TAG$.$MONAT$.$JAHR$ $STUNDE$:$MINUTE$: $Change_Day_Percent%5.2f$%  $Change_Day%8.2f$€ $W$Kaufwert: $Price_Buy%9.2f$€ aktueller Wert: $Price%9.2f$€ Aenderung: $Change%9.2f$€ ($Change_Percent%.2f$%) Dividende: $Dividende%5.2f$€ ($Dividende_Percent%.2f$%)$R$
Col  = Name                           | Preis       |  Diff %             € | EK-Preis          Diff. €       % |  Anteil |  Div %          € 
Sep  = -------------------------------+-------------+-----------------------+-----------------------------------+---------+------------------
Data = $B$$W$$Position%-30.30s$$N$ |$D$ $Price%10.2f$€ $N$| $Change_Day_Percent%6.2f$% $Change_Day%12.2f$€ $N$|$W$ $Price_Buy%10.2f$€ $Change%12.2f$€ $Change_Percent%6.2f$% $N$| $P$$Portion%5.2f$% $N$| $W$$Dividende_Percent%5.2f$% $Dividende%9.2f$€ $R$

[Ausgabeformat_Depot]
Head = $W$$Portofolio%-20.20s$ $D$$TAG$.$MONAT$.$JAHR$ $STUNDE$:$MINUTE$: $Change_Day_Percent%5.2f$%  $Change_Day%7.2f$€  $W$Kaufwert: $Price_Buy%9.2f$€  aktueller Wert: $Price%9.2f$€  Aenderung: $Change%8.2f$€ ($Change_Percent%.2f$%)  Dividende: $Dividende%5.2f$€ ($Dividende_Percent%.2f$%)$R$
Col  = Name                 Symbol       Quelle     |    Preis   Diff %        €         ∑       Pos ∑ | Anzahl | EK-Preis  Diff. %          €           ∑ | Anteil |  Div %        €          ∑  | Letzter Handel$R$
Sep  = ---------------------------------------------+--------------------------------------------------+--------+------------------------------------------+--------+-----------------------------+---------------
Data = $B$$W$$name%-20.20s$ $symbol%-12.12s$ $exchange%-10.10s$ $N$| $D$$last%7.2f$€ $p_change%7.2f$% $net%7.2f$€ $Change_Day%8.2f$€ $Price%10.2f$€ $N$| $Quantity%6.6s$ $N$| $W$$Price_Buy_Share%7.2f$€ $Change_Percent%7.2f$% $Change%9.2f$€ $Price_Buy%10.2f$€ $N$| $P$$Portion%5.2f$% $N$| $Y$$Dividende_Percent%5.2f$% $Dividende_Share%7.2f$€ $Dividende%10.2f$€ $N$| $L$$_Tradetime$$R$

[Ausgabeformat_Export]
Data = $name$$\x09$$last_RAW%.2f$$\x09$$_Waehrung$$\x09$$last%.2f$$\x09$$Quantity$$\x09$$Price_Buy%.2f$$\x09$$Symbol$$\x09$$Dividende_Share%.2f$$\x09$$Branche$

[Ausgabeformat_Cash]
Data = $Inhaber$$\x09$$Bank$$\x09$$KtoWaehrung$$\x09$$KtoStand%.2f$

[Stockservice Yahoo]
Anzahl_Versuche  = 10
URL              = http://download.finance.yahoo.com/d/quotes.csv?s=$STOCK$&f=$DATA$&e=.csv

[Stockservice Finance::Quote]
Markets          = fidelity vwd europe 
# Markets          = fidelity dwsfunds usa nyse nasdaq australia canada tiaacref troweprice uk_unit_trusts vanguard europe vwd

[Stockservice]
MaxDelay         = 3600000
UTCDelta         = 7200

# nsxbc1p2ydd1t1
# Name Symbol Stock_Exchange Bid Change Change_Percent Dividend_Yield Last_Trade_Date Last_Trade_Time

# Variablenname = Kurzname(Abbr) Beschreibung(Flag) Faktor Laenge Default Format

# Pricing
Info last      = l1 Last_Trade_Price 2 7 0 %7.2f
Info net       = c1 Change 2 - 0 %+7.2f
Info p_change  = p2 Change_Percent 2 5 0 %+5.2f

# Dividends
Info div_yield = y Dividend_Yield 0 6 0 %5.2f
Info div       = d Dividend_per_Share 1 5 0 %6.2f

# Date
Info date      = d1 Last_Trade_Date 0 10 - %10s
Info time      = t1 Last_Trade_Time 0 10 - %7s

# Symbol Info
Info name      = n Name 0 20 - %-20s
Info symbol    = s Symbol 0 12 - %-12s
Info exchange  = x Stock_Exchange 0 10 - %-10s

# Several others (generic)
Info Branche            =
Info Change_Day_Percent =
Info Dividende_Percent  =
Info Dividende_share    =
Info Price_Buy_Share    =
Info Price_Share        =
Info _Tradetime         =
Info _Waehrung          =
Info _aktuell           =
Info _last              =
Info _lastTrade         =
Info _letzter_Abruf     =
Info _tradetime         =
Info dir_RAW            =
Info last_RAW           =
Info net_RAW            =

# Only for Depotvalues
# Info Change             =
# Info Change_Day         =
# Info Div_Summe          =
# Info Dividende          =
# Info Portion            =
# Info Price              =
# Info Price_Buy          =
# Info Price_Last         =
# Info Quantity           =
